spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/gscores_db
    username: gscores
    password: password
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration,classpath:com/example/backend/db

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
